@import url("https://fonts.googleapis.com/css2?family=Montserrat");

.page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.bayan {
    width: 75%;
    padding: 2.5% 2.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 820px) {
    .bayan {
        width: 50%;
    }
}

.bayan__list {
    border-top: solid 0.1em rgb(128, 128, 128);
    width: 100%;
}

.bayan__header {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bayan__element {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    border-bottom: solid 0.1em rgb(128, 128, 128);
}

/* Icon size styles */

.bayan__icon-plus {
    width: 0.75em;
    height: 0.75em;
    transition: transform 0.5s;
}

@media screen and (min-width: 320px) {
    .bayan__icon-plus {
        width: 1.25em;
        height: 1.25em;
    }
}

@media screen and (min-width: 820px) {
    .bayan__icon-plus {
        width: 1.75em;
        height: 1.75em;
    }
}

@media screen and (min-width: 1920px) {
    .bayan__icon-plus {
        width: 2.5em;
        height: 2.5em;
    }
}

/* Checkbox hiding styles */

.bayan__header-label {
    width: 95%;
    padding: 0 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.bayan__media-label {
    width: 95%;
    padding: 0 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.bayan__input {
    width: 0;
    height: 0;
    display: none;
    -webkit-appearance: none;
}

/* Medacontent styles */

.bayan__media {
    width: 0;
    transition: width 0.5s;
}

/* Animations styles*/

.bayan__input:checked~.bayan__media-label .bayan__media {
    width: 60vw;
    transition: width 0.75s;
    margin: 2%;
}

@media screen and (min-width: 820px) {
    .bayan__input:checked~.bayan__media-label .bayan__media {
        width: 30vw;
        transition: width 0.75s;
        margin: 2%;
    }
}

.bayan__input:checked+.bayan__header-label .bayan__icon-plus {
    transform: rotate(45deg);
    transition: transform 0.5s;
}

@media (hover: hover) {
    .bayan__element:hover .bayan__media-label .bayan__media {
        width: 60vw;
        transition: width 0.75s;
        margin: 2%;
    }

    @media screen and (min-width: 820px) {
        .bayan__element:hover .bayan__media-label .bayan__media {
            width: 30vw;
            transition: width 0.75s;
            margin: 2%;
        }
    }

    .bayan__element:hover .bayan__header-label .bayan__icon-plus {
        transform: rotate(45deg);
        transition: transform 0.5s;
    }
}

/* Text styles */

.bayan__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: bold;
    margin: 0 3% 3% 3%;
}

.bayan__element-title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: normal;
    text-align: center;
}

/* Text size styles */

.bayan__title {
    font-size: 1.25em;
}

.bayan__element-title {
    font-size: 0.75em;
}

@media screen and (min-width: 320px) {
    .bayan__title {
        font-size: 1.5em;
    }

    .bayan__element-title {
        font-size: 1.25em;
    }
}

@media screen and (min-width: 820px) {
    .bayan__title {
        font-size: 3em;
    }

    .bayan__element-title {
        font-size: 1.75em;
    }
}

@media screen and (min-width: 1920px) {
    .bayan__title {
        font-size: 4em;
    }

    .bayan__element-title {
        font-size: 2.5em;
    }
}

/*Highlight styles */

.bayan__element:active {
    background-color: rgb(245, 245, 245);
}

.bayan__element:active .bayan__header-label .bayan__element-title {
    color: rgb(255, 0, 0);
}

.bayan__element:active .bayan__header-label .bayan__icon-plus {
    color: rgb(255, 0, 0);
}

.bayan__element:active .bayan__media-label .bayan__media {
    opacity: 0.9;
}
